.r59-eventtracker .today-events {
    border-radius: 5px;
    margin: 10px 0;
    background-color: #27AE60;
    padding: 20px;
    font-weight: bold;
    color: white;
    font-size: 1.25em;
}

.r59-eventtracker .today-events .badge {
    background-color: #2c3e50;
    padding: 7px 14px;
    margin: 0 5px;
    
}

.r59-eventtracker .events-holder{
    padding-left: 0;
    padding-right: 0;
}
.r59-eventtracker .event {
    transition: border-bottom 0.3s ease, color 0.5s ease;
    background-color: #ECF0F1;
    height: 120px;
    margin: 10px 0;
    border-bottom: 3px solid #2c3e50;
}
.r59-eventtracker .event:hover {
    border-bottom: 6px solid #2c3e50;
    transition: border-bottom 0.3s ease, color 0.5s ease;
    cursor: pointer;
}

.r59-eventtracker .event:hover .rsvp {
    color: #2c3e50;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.r59-eventtracker .event .rsvp {
    color: #2c3e50;
    font-weight: 600;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.r59-eventtracker .event .date {
    display: inline-block;
    vertical-align: top;
    min-width: 50px;
    max-width: 100px;
}
.r59-eventtracker .date .badge {
    background-color: #2c3e50;
    height: 80px; 
    vertical-align: text-bottom;
    width: 80px;
    margin: 10px auto;  
    border-radius: 100%;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 1.5em;
}

.r59-eventtracker .event .event-content {
    display: inline-block;
    padding: 0 20px;
}

.r59-eventtracker .event-content .name {
    font-size: 1.75em;
}

.r59-eventtracker form {
    display: none;
}

.r59-eventtracker button {
    background: none;
    border: 0;
}

.r59-eventtracker .rsvp {
    display: inline-block;
    float: right;
    text-align: center;
}

.r59-eventtracker .rsvp-button i {
    font-size: 50px;
}

.r59-eventtracker .rsvp-button p {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 0.75em;
}