<div class="container r59-eventtracker" >
{% if events is not empty %}
    {% if today != 0 %}
    <div class="row">
        <div class="col-xs-12 today-events">
            <span>Events scheduled for today <span class="badge">{{today}}</span></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 events-holder">
        {%for event in events if event.today == true%}
            <div class="event" style="padding: 10px 20px">
                <div class="date"><span class="badge">{{event.date|date("M\nd")|nl2br}}<span></div>
                <div class="event-content">
                    <h2 class="name">{{event.name}}</h2>
                    <p><span>{{ event.start|date('H:i')}} - {{event.end|date('H:i')}} @ {{event.location}}</span></p>
                </div>
                    <div id="rsvp-{{event.id}}" class="rsvp" style="display: inline-block; float: right;">
                    <button type="submit" data-event="{{event.id}}">
                        {%if cookie[event.id]%}
                            <i class="fa fa-calendar-check-o"></i>
                        {%else%}
                            <i class="fa fa-calendar-plus-o"></i>
                        {%endif%}
                    </button>
                    
                        <span class="visitor"><span class="amount">{{event.visitors}}</span> are going!</span>
                    
                    {% put scripts %}
                        <script type="text/javascript">
                            $(function(){
                                $('button[data-event={{event.id}}]').on('click', function(){
                                    $.request('onPlusOne', {
                                        data: {eventId: {{event.id}}},
                                        success: function(data) {
                                            console.log(data);
                                            $('button[data-event={{event.id}}]>i').toggleClass('fa-calendar-plus-o').toggleClass('fa-calendar-check-o');
                                            amount = $('#rsvp-{{event.id}} .amount').html();
                                            $('#rsvp-{{event.id}} .amount').html(parseInt(amount)+data.state);
                                        }
                                        }); 
                                    return false;
                                })
                            });
                        </script>
                    {% endput %}
                </div>
                
            </div>
        {%endfor%}
        </div>
    </div>
    {% endif %}
    {% if week != 0%}
    <div class="row">
        <div class="col-xs-12 today-events">
            <span>Events scheduled for this week <span class="badge">{{week}}</span></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 events-holder">
        {%for event in events if event.week == true%}
            <div class="event" style="padding: 10px 20px">
                <div class="date"><span class="badge">{{event.date|date("M\nd")|nl2br}}<span></div>
                <div class="event-content">
                    <h2 class="name">{{event.name}}</h2>
                    <p><span>{{ event.start|date('H:i')}} - {{event.end|date('H:i')}} @ {{event.location}}</span></p>
                </div>
                <div id="rsvp-{{event.id}}" class="rsvp" style="display: inline-block; float: right;">
                    <button type="submit" data-event="{{event.id}}">
                        {%if cookie[event.id]%}
                            <i class="fa fa-calendar-check-o"></i>
                        {%else%}
                            <i class="fa fa-calendar-plus-o"></i>
                        {%endif%}
                    </button>
                    
                        <span class="visitor"><span class="amount">{{event.visitors}}</span> are going!</span>
                    
                    {% put scripts %}
                        <script type="text/javascript">
                            $(function(){
                                $('button[data-event={{event.id}}]').on('click', function(){
                                    $.request('onPlusOne', {
                                        data: {eventId: {{event.id}}},
                                        success: function(data) {
                                            console.log(data);
                                            $('button[data-event={{event.id}}]>i').toggleClass('fa-calendar-plus-o').toggleClass('fa-calendar-check-o');
                                            amount = $('#rsvp-{{event.id}} .amount').html();
                                            $('#rsvp-{{event.id}} .amount').html(parseInt(amount)+data.state);
                                        }
                                        }); 
                                    return false;
                                })
                            });
                        </script>
                    {% endput %}
                </div>
            </div>
        {%endfor%}
        </div>
    </div>
    {%endif%}
    {%for event in events %}
    {% if loop.first %}
    <div class="row">
        <div class="col-xs-12 today-events">
            <span>Other upcoming events<span class="badge">{{other_weeks}}</span></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 events-holder">
    {%endif%}
    {% if (event.week != true and event.today != true) %}
            <div class="event" style="padding: 10px 20px">
                <div class="date"><span class="badge">{{event.date|date("M\nd")|nl2br}}<span></div>
                <div class="event-content">
                    <h2 class="name">{{event.name}}</h2>
                    <p><span>{{ event.start|date('H:i')}} - {{event.end|date('H:i')}} @ {{event.location}}</span></p>
                    </div>
                    <div id="rsvp-{{event.id}}" class="rsvp" style="display: inline-block; float: right;">
                    <button type="submit" data-event="{{event.id}}">
                        {%if cookie[event.id]%}
                            <i class="fa fa-calendar-check-o"></i>
                        {%else%}
                            <i class="fa fa-calendar-plus-o"></i>
                        {%endif%}
                    </button>
                    
                        <span class="visitor"><span class="amount">{{event.visitors}}</span> are going!</span>
                    
                    {% put scripts %}
                        <script type="text/javascript">
                            $(function(){
                                $('button[data-event={{event.id}}]').on('click', function(){
                                    $.request('onPlusOne', {
                                        data: {eventId: {{event.id}}},
                                        success: function(data) {
                                            console.log(data);
                                            $('button[data-event={{event.id}}]>i').toggleClass('fa-calendar-plus-o').toggleClass('fa-calendar-check-o');
                                            amount = $('#rsvp-{{event.id}} .amount').html();
                                            $('#rsvp-{{event.id}} .amount').html(parseInt(amount)+data.state);
                                        }
                                        }); 
                                    return false;
                                })
                            });
                        </script>
                    {% endput %}
                </div>
                
            </div>
    {%endif%}
    {% if loop.last%}
        </div>
    </div>
    {%endif%}
    {%endfor%}
{%else%}
<div class="row">
    <div class="col-xs-12">
        <span>There are currently no events scheduled. Please check back later!</span> <h1>{{cookie}}</h1>


       
    </div>
</div>

{%endif%}
</div>